<div class="footer-container">
    <footer class="d-flex flex-column justify-content-center align-items-center">
        <div class="d-flex align-items-center">
            <span class="mb-3 text-body-secondary">© 
                <script>
                    document.write(new Date().getFullYear());
                </script> 
                Pedro Siqueira. All rights reserved.
            </span>
        </div>
    </footer>
</div>